/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto:wght@300;400;500&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}